:root {
  --primaryBlack: #0f204f;
  --PrimaryBlue: #3e9fff;
  --lightGray: #5e6883;
  --lightBlue: #f0f6fc;
}

header .navbar-light .navbar-brand {
  color: var(--primaryBlack);
  font-weight: 500;
}
header .navbar-light .navbar-nav .nav-link {
  color: var(--primaryBlack);
  font-weight: 500;
}
header .navbar-nav {
  gap: 16px;
}
header .login.btn {
  background-color: var(--PrimaryBlue);
  border: none;
  border-radius: 20px;
  padding-inline: 20px;
  font-weight: 500;
}
header .navbar-expand-md .navbar-nav .dropdown-menu {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}
header .navbar-right {
  align-items: center;
  gap: 10px;
}
header .lang-select {
  width: 70px;
  border: none;
}
header .lang-select:focus {
  box-shadow: none;
}
.banner {
  padding-block: 100px;
}
.banner h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--primaryBlack);
}
.banner p {
  font-size: 24px;
  max-width: 68%;
  color: var(--lightGray);
}
.banner .img-card {
  background-color: var(--lightBlue);
  height: 640px;
  border-radius: 18px;
}
.banner .available-platform {
  gap: 40px;
  text-align: center;
  margin-top: 50px;
}
.banner .available-platform p {
  font-size: 18px;
  color: var(--primaryBlack);
}

.what-is-teleteen {
  padding-block: 100px;
}
.what-is-teleteen .dummy-box {
  background-color: var(--lightBlue);
  height: 340px;
  border-radius: 18px;
}
.what-is-teleteen h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--primaryBlack);
}
.what-is-teleteen p {
  font-size: 24px;
  color: var(--lightGray);
  text-align: right;
  max-width: 87%;
}
.what-is-teleteen .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.how-it-work {
  background-color: #f4f8fd;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.how-it-work .d-grid {
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  justify-content: space-between;
}
.how-it-work .d-grid p {
  font-size: 24px;
  text-align: center;
  color: var(--lightGray);
}
.how-it-work .d-grid .box {
  background: #4eb3ff;
  border-radius: 4px;
  height: 200px;
  width: 240px;
  margin: auto;
}

.how-it-work h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--primaryBlack);
}
.two-column-left {
  margin-bottom: 100px;
}
.two-column-left .dummy-box {
  background-color: #4eb3ff;
  height: 340px;
  border-radius: 8px;
}
.two-column-left .tw-column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.two-column-left .tw-column-text h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #4eb3ff;
}
.two-column-left .tw-column-text ul {
  list-style-type: "―";
}
.two-column-left .tw-column-text ul li {
  padding-left: 10px;
  font-size: 24px;
  color: var(--lightGray);
}
.two-column-right .tw-column-text {
  order: 2;
}
.corporation .d-grid {
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-gap: 50px;
}
.corporation .d-grid div {
  background: #4eb3ff;
  border-radius: 4px;
  height: 200px;
  width: 240px;
}
footer {
  background-color: #4eb3ff;
  padding-block: 100px;
}
footer h3 {
  color: #fff;
  font-size: 40px;
}
footer h3 span {
  color: #000;
}
footer .footer-links {
  display: flex;
  justify-content: center;
}
footer a {
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 20px;
  font-size: 16px;
  padding: 8px 24px;
  margin-inline: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.faq {
  padding-bottom: 150px;
}
.faq h2 {
  font-size: 30px;
  color: var(--primaryBlack);
}
.faq .support img {
  width: 35px;
}
.faq .support .d-grid {
  grid-gap: 40px;
  margin-top: 60px;
}
.faq .support .d-flex {
  gap: 20px;
  align-items: center;
}
.faq .support .d-flex .icon {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  padding: 16px;
}
.faq .support .d-flex p {
  font-size: 24px;
  color: var(--lightGray);
}
.faq .faq-accordion {
  margin-top: 55px;
}
.faq .faq-accordion .accordion-button {
  background-color: transparent;
  border-top: 3px solid #e6e6e6;
  box-shadow: none;
  border-radius: none;
}
.faq .faq-accordion .accordion-item {
  border: none;
}
.faq .faq-accordion .accordion-header button {
  color: var(--primaryBlack);
  font-weight: 500;
  font-size: 24px;
  padding-inline: 0;
  padding-block: 20px;
}
.faq .faq-accordion .accordion-body {
  padding-top: 0;
  padding-inline: 0;
  font-size: 16px;
  color: var(--lightGray);
}
.faq .bottom-link {
  justify-content: space-between;
  border-top: 3px solid #e6e6e6;
  padding-top: 20px;
}
.faq .bottom-link p {
  color: #4eb3ff;
  font-size: 20px;
  font-weight: 500;
}
.right-arrow {
  background-color: #4eb3ff;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.right-arrow img {
  width: 20px;
}
@media screen and (max-width: 991px) {
  .banner {
    padding-block: 50px;
  }
  .what-is-teleteen p {
    max-width: 100%;
  }
  .how-it-work .d-grid {
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .how-it-work .d-grid {
    grid-template-columns: auto;
    justify-content: center;
    gap: 30px;
  }
  .banner p {
    max-width: 100%;
  }
  .faq-section {
    padding-top: 50px;
  }
  .faq .support img {
    width: 25px;
  }
}
